
body{
    background-image:url('bg.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100% 100%; 
}

#header{
    text-align:center;
    height: auto;
    position:absolute;
    left: 10%;
    right: 10%;
    top: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
    color: rgb(230, 36, 36); 
}

#editor{
    position:absolute;
    left: 10%;
    right: 10%;
    top: 20%;
    bottom: 10%
}

#canvas{
    background-color:white;
    width: 48%;
    height: 90%;
    position:absolute;
    left :35%;
    border-radius: 20px;
}

#tools{
    position:absolute;
    top: 1%;
    left: 20%;
    width: 12%;
    height: 45%;
    border:0;
}   

#color{
    background-color:transparent;
    position:absolute;
    top: 50%;
    left: 19%;
    width: 18%;
    height: 30%;
}

#undo{
    position:absolute;
    top: 90%;
    left: 47%;
    width: 5%;
    height: 12%;
}

#save_pic{
    position:absolute;
    top: 90%;
    left: 54%;
    width: 5%;
    height: 12%;
}

#delete{
    position:absolute;
    top: 90%;
    left: 61%;
    width: 5%;
    height: 12%;
}

#redo{
    position:absolute;
    top: 90%;
    left: 68%;
    width: 5%;
    height: 12%;
}

.row{
    width: 100%;
    height: 20%;
}

.btn_brush {
    background-color:transparent;
    background-image:url('brush.png');
    background-size:80% 80%;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border:0;		
}

.btn_round {
    background-color:transparent;
    background-image:url('round.png');
    background-size:98% 98%;
    background-position: right;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border:0;
}


.btn_rec {
    background-color:transparent;
    background-image:url('rectangle.png');
    background-size:80% 80%;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border:0;		
}

.btn_tri {
    background-color:transparent;
    background-image:url('triangle.png');
    background-size:78% 78%;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border:0;		
}

.btn_era {
    background-color:transparent;
    background-image:url('eraser.png');
    background-size:85% 85%;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border:0;
}

.btn_type {
    background-color:transparent;
    background-image:url('type.png');
    background-size:85% 85%;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border:0;
}

#rad{
    font-size:1.5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align:middle;
}

#decrad{
    position: absolute;
    background-color:grey;
    left:50%;
    width: 13%;
    height:11%;
    display: inline-block;
    border: 2px;
    border-style: outset;
    border-color: black;
    text-align: center;
    font-size: 2vh;
}

#addrad{
    position: absolute;
    background-color:grey;
    left:70%;
    width: 13%;
    height:11%;
    display: inline-block;
    border: 2px;
    border-style: outset;
    border-color: black;
    text-align: center;
    font-size: 2vh;
}

#colorpad{
    background-color:transparent;
    position:absolute;
    top: 20%;
    width: 14%;
    height: 23%;
}

#text{
    position:absolute;
    top: 25%;
    left: 20%;
    width: 63%;
    height: 12%;
}

#Fontsize{
    position:relative;
    top: 38%;
    font-size:1.25vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align:middle;
}

#decfont{
    position: absolute;
    background-color:grey;
    left:50%;
    width: 13%;
    height: 88%;
    display: inline-block;
    border: 2px;
    border-style: outset;
    border-color: black;
    text-align: center;
    font-size: 2vh;
}

#addfont{
    position: absolute;
    background-color:grey;
    left: 70%;
    width: 13%;
    height: 88%;
    display: inline-block;
    border: 2px;
    border-style: outset;
    border-color: black;
    text-align: center;
    font-size: 2vh;
}

#typeface{
    position:relative;
    top: 45%;
    font-size:1.2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align:middle;
}

#upload{
    background: rgb(226, 113, 132);
    border: 1px solid rgb(17, 108, 160);
    border-radius: 3px;
    position:absolute;
    top: 97%;
    width: 12.3vmax;
    font-size:0.9vmax;
    font-weight:bold;
    font-family: '標楷體';
    vertical-align: middle;
}




